<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nb.shopping.dao.CartDao">

    <resultMap id="CartResult" type="Cart">
        <result property="cartId" column="cartId"/>
        <result property="customerId" column="customerId"/>
        <result property="sellerId" column="sellerId"/>
        <result property="isSelect" column="isSelect"/>
        <collection property="goods" ofType="com.nb.shopping.entity.Goods">
            <id property="id" column="goods_id"/>
            <result property="number" column="number"/>
            <result property="name" column="name"/>
            <result property="price" column="price"/>
            <result property="discount" column="discount"/>
            <result property="desc" column="desc"/>
            <result property="photo" column="photo"/>
            <result property="count" column="count"/>
            <result property="date" column="date"/>
            <result property="status" column="goods_status"/>
            <result property="sellCount" column="sellCount"/>
            <result property="typeId" column="typeId"/>
            <result property="goodsTypesName" column="goodsTypesName"/>
            <result property="orderCount" column="orderCount"/>
            <association property="seller" javaType="com.nb.shopping.entity.Seller">
                <id property="id" column="seller_id"/>
                <result property="name" column="sellerName"/>
                <result property="rating" column="sellerRating"/>
            </association>
        </collection>
    </resultMap>

    <!--查询客户购物车-->
    <select id="getCustomerAllCart" parameterType="Map" resultMap="CartResult">
        SELECT c.*,g.*,gt.name AS goodsTypesName,g.id AS goods_id,g.status AS goods_status ,s.id AS seller_id,s.name AS
        sellerName,cg.count AS orderCount FROM goods g, cart c,seller s,cart_goods cg,goodstypes gt,seller_goods sg
        WHERE c.cartId = cg.cartId AND cg.goodsId = g.id AND g.typeId = gt.id AND s.id = sg.seller_id AND g.id =
        sg.goods_id
        <if test="userId!=null">
            AND c.customerId = #{userId}
        </if>
        ORDER BY c.cartId DESC
        ;
    </select>

    <!--添加购物车-->
    <insert id="addCart" parameterType="Cart" useGeneratedKeys="true" keyProperty="cartId">
        INSERT INTO cart(`customerId`,`sellerId`) VALUES (#{customerId},#{sellerId})
    </insert>

    <!--添加购物车商品-->
    <insert id="addCartGoods" parameterType="Map">
        INSERT INTO  cart_goods VALUES (#{cartId},#{goodsId},#{count})
    </insert>

    <!--删除购物车-->
    <delete id="deleteCart" parameterType="Map">

    </delete>

    <!--删除购物车商品-->
    <delete id="deleteCartGoods" parameterType="Map">

    </delete>

    <!--更新购物车商品数量-->
    <update id="updateCartGoodsCount" parameterType="Map">
        UPDATE cart_goods SET count = count+ #{status} WHERE cartId = #{cartId} AND goodsId = #{goodsId} ;
    </update>

</mapper>