<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nb.shopping.dao.UserDao">

    <resultMap id="UserResult" type="User">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>

    <select id="getUserByUsername" parameterType="string" resultMap="UserResult">
        SELECT * FROM  user WHERE username = #{username}
    </select>

    <!--用户注册-->
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user(`username`,`password`) VALUES (#{username},#{password})
    </insert>

</mapper>